<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
</style>
<footer class="footer">
    <div class="icons">
        <a href="https://github.com/Keertijanm"><img src="https://img.icons8.com/ios-glyphs/48/000000/github.png"/></a>
        <a href="https://www.linkedin.com/in/keerti-gupta-907793202/"><img src="https://img.icons8.com/material-outlined/48/000000/linkedin--v1.png"/></a>
    </div>
</footer>